:root {
  --dark: #121212;
  --dark-lighter: #1e1e1e;
  --dark-lightest: #333333;
  --ambar: #FFA500;
  --white: #FFFFFF;
  --light-gray: #AAAAAA;
  --gray: #666666;
  --green: #22C55E;
  --red: #EF4444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
