:root {
  --gray: #333333;
  --light-gray: #999999;
  --dark: #111111;
  --ambar: #F2994A;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: fixed;
  font-family: 'Poppins', sans-serif;
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: white;
  padding: 20px;
}

.welcome-message {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.welcome-message h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--gray);
}

.welcome-message h2 {
  font-size: 18px;
  font-weight: 400;
  color: var(--light-gray);
}

.login-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.password-group {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--gray);
}

.password-toggle:hover {
  color: var(--dark);
}

.input-field {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  text-align: left;
  box-sizing: border-box;
}

.input-field:focus + label,
.input-field:not(:placeholder-shown) + label {
  top: 5px;
  font-size: 12px;
  color: var(--gray);
}

.login-btn {
  width: 100%;
}

.login-btn button {
  width: 100%;
  padding: 10px 80px;
  background-color: var(--ambar);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-btn i {
  margin-right: 8px;
}

.login-btn button:hover {
  background-color: var(--ambar);
  opacity: 0.9;
}

.no-account {
  margin-top: 15px;
  text-align: center;
}

.no-account a {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: var(--ambar);
  text-decoration: none;
}

.no-account a:hover {
  text-decoration: underline;
}

.login-background {
  width: 50%;
  background-image: url('../../assets/imagens/login-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

@media (max-width: 768px) {
  .login-content {
      width: 100%;
  }
  .login-background {
      display: none;
  }
}
