
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
    font-family: 'Poppins', sans-serif;
}
  
.auth-container {
    display: flex;
    height: 100vh;
    width: 100%;
}
  
.auth-content {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: white;
    padding: 20px;
}
  
.auth-background {
    width: 50%;
    background-image: url('../../../assets/imagens/login-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
  
.welcome-message {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}
  
.welcome-message h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--gray);
}
  
.welcome-message h2 {
    font-size: 18px;
    font-weight: 400;
    color: var(--light-gray);
}
  
.auth-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.form-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}
  
.input-field {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    text-align: left;
    box-sizing: border-box;
}
  
.password-group {
    position: relative;
}
  
.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--gray);
}
  
.password-toggle:hover {
    color: var(--dark);
}
  
.auth-btn {
    width: 100%;
}
  
.auth-btn button {
    width: 100%;
    padding: 10px 80px;
    background-color: var(--ambar);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.auth-btn i {
    margin-right: 8px;
}
  
.auth-btn button:hover {
    background-color: #e69500;
}
  
.account-link {
    margin-top: 15px;
    text-align: center;
}
  
.account-link a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: var(--ambar);
    text-decoration: none;
}
  
.account-link a:hover {
    text-decoration: underline;
}
  
.feedback-message {
    margin-top: 15px;
    padding: 8px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
}
  
.message-success {
    background-color: var(--success);
    color: var(--success-text);
}
  
.message-error {
    background-color: var(--error);
    color: var(--error-text);
}