html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--dark);
}

.dashboard-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
}

.main-content {
  flex: 1;
  padding-bottom: 0;
}

.users-section {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 0;
}

.form-field {
  position: relative;
}

.form-field .fa-eye, .form-field .fa-eye-slash {
  position: absolute;
  right: 12px;
  top: 70%;
  transform: translateY(-50%);
  color: var(--light-gray);
  cursor: pointer;
}